<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
        <%- include('../partials/header'); %>
        </header>
        <main>
            <div class="jumbotron">
              <h1>YOUR PANTRY</h1>
              <P></P>
              <!-- <%= tagline %> -->
            <ul>
                <% fruits.forEach(function(fruit) { %>
                <li>
                    Name: <%= fruit.name %>
                    <p>calories: <%= fruit.nutritions.calories %> carbs: <%= fruit.nutritions.carbohydrates %> protein: <%= fruit.nutritions.protein %> </p>
                </li>
                <% }); %>
            </ul>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body> 
</html>