<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
        <%- include('../partials/header'); %>
        </header>
        <main>
            <div class="jumbotron">
              <h1>YOUR PANTRY</h1>
              <P></P>
              <!-- <%= tagline %> -->
            <ul>
                <% characters.forEach(function(character) { %>
                <li>
                    <strong>Name</strong>: <%= character.fullName %> |
                    <span><strong>House</strong>: <%= character.hogwartsHouse %></span>
                    <p><strong>Birthdate</strong>: <%= character.birthdate %></p>
                </li>
                <% }); %>
            </ul>
            <ul>
                <% houseMates.forEach(function(houseMate) { %>
                    <li>
                        <span> <%= houseMate.fullName %> </span>
                        <strong><span> <%= houseMate.hogwartsHouse %> </span></strong>
                    </li>
                <% }); %> 
            </ul>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body> 
</html>